{% extends "reserva/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>Reservar</h1>
      <a class="btn btn-warning" href="{% url 'logout' %}">Sair</a>

      <form class="form" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label class="label" for="">Recurso</label>
          {{form.recurso}}
        </div>
        <input type="hidden" name="usuario" id="id_usuario" value="{{user.username}}" >
        <div>
          <label class="label" for="">Escolha uma data</label><br>
          <input class="form-control" type="date" name="data" id="id_data" required>
        </div>
        <div>
          <label class="label" for="">Escolha um horário</label><br>
          <input class="form-control" type="time" name="hora" id="id_hora" required>
        </div>
        <button class="btn btn-primary my-3" type="submit">Reservar</button>
      </form>
    </div>


    <div class="col-lg-6">
      <h3>Minhas Reservas</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Recurso</th>
            <th>Data</th>
            <th>Horário</th>
          </tr>
        </thead>
        <tbody>
          {% for reserva in reservas %}
          <tr>
            <td>{{reserva.recurso.nome}}</td>
            <td>{{reserva.data}}</td>
            <td>{{reserva.hora}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock content %}